.signup {
    &-form {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        max-width: 500px;
        padding: 12px;

        &-sub-title {
            font-size: 20px;
            margin-bottom: 16px;
        }

        &-title {
            font-size: 32px;
            margin-bottom: 24px;
        }

        &-control {
            width: 100%;
        }
    }
}